torch
torchvision
pytorch-ignite
tensorboard
tensorboardX
pytorch3d
hydra-core==1.1.1
imageio
iopath==0.1.9
lpips==0.1.4
omegaconf==2.1.1
opencv-python
plyfile
gdown
pytorch_lightning
kornia
matplotlib
scikit-image
dearpygui